<nav class="navbar navbar-default navbar-fixed-top" ng-include="navbarHtml">
</nav>
<div role="flatdoc" class="content-root" data-ng-if="!index">
  <div class="menubar">
    <div class="menu section" role="flatdoc-menu"></div>
  </div>
  <div role="flatdoc-content" class="content"></div>
  <a data-ng-if="docbaseOptions.method == 'github'" class="edit" ng-href="{{github}}" target="_blank">
    <span class="fa fa-pencil"> Edit</span>
  </a>
</div>
<div class="index-container" data-ng-if="index">
	<div class="container">
		<div class="row">
			<h1 class="col-xs-12">
				{{currentFolder}}
			</h1>
		</div>
		<ul class="row">
			<li class="col-xs-12" data-ng-repeat="file in indexList"  data-ng-if="file.name != 'index'">
				<a href="#/{{currentVersion}}/{{currentFolder}}/{{file.name}}" class="col-xs-12">{{file.name}}</a>
			</li>
		</ul>
	</div>
</div>
