/**
*
* DocBase styling
* Henrique Sa, Feb 2015
* MIT license
*
*/

/**
* Resets
*/
pre {
	background: transparent;
}
.menubar.fixed {
	padding-top: 35px;
}

.menubar {
	background: white;
	z-index: 2;
}

/**
* Header
*/
body {
	padding-top: 50px;
}
.root-view{
	margin-top: -50px;
}
ul.nav li.dropdown:hover {
	background: white;
}
ul.nav li.dropdown:hover > a {
	color: #50BAEF;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
.navbar-fixed-top {
	background: #50BAEF;
}
.navbar-default .navbar-nav>li>a {
	color: white;
	text-shadow: none;
}
.navbar-default .navbar-brand{
	text-shadow: none;
	color: white;
}
.navbar-default .navbar-brand:hover{
	color: white;
}
.dropdown-menu {
	border: 0;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {

}

/**
* Buttons
*/
.button {
	background: #50BAEF;
	border: 2px solid transparent;
}
.button:hover, .button:active {
	text-decoration: none;
	color: #50BAEF;
	background: white;
	border: 2px solid #50BAEF;
}
.menu a, .menu a:visited {
	color: #50BAEF;
}
.menu a.active:after {
	background: #50BAEF;
}
a {
	color: #50BAEF;
}
a:hover, a:active {
	color: #1aa5ea;
}
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active {
	color: #50BAEF;
}
.navbar-default .navbar-nav>li:focus,
.navbar-default .navbar-nav>li:hover,
.navbar-default .navbar-nav>li:active {
	background-color: white;
}

.github-star {
	overflow: hidden;
	margin-top: 15px;

}
.navbar-default .navbar-nav .github-star:hover,
.navbar-default .navbar-nav .github-star:active {
	background-color: transparent;
}

.github-star > *{
	width: 100px;
	float: right;
}

body:not(.no-literate) pre, body:not(.no-literate) pre code {
	word-wrap: normal;
	white-space: pre;
	overflow: visible;
}

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #333; } /* punctuation - white */
pre .pln, code .pln { color: #333; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre .str, code .str { color: #060; }
  pre .kwd, code .kwd { color: #006; font-weight: bold; }
  pre .com, code .com { color: #600; font-style: italic; }
  pre .typ, code .typ { color: #404; font-weight: bold; }
  pre .lit, code .lit { color: #044; }
  pre .pun, code .pun { color: #440; }
  pre .pln, code .pln { color: #000; }
  pre .tag, code .tag { color: #006; font-weight: bold; }
  pre .atn, code .atn { color: #404; }
  pre .atv, code .atv { color: #060; }
}
.contributor-container{
	background: #f7f7f7;
	width: 100%;
	float: left;
}
.contributor-container .contributor{
	width: 50px;
    height: 50px;
    display: inline-block;
    margin: 5px;
    float: left;
    margin-right: 0;
}
.contributors_header{
	background: #eee;
    padding: 0 5px;
    float: left;
    width: 100%;
	font-size: 20px;
	line-height: 34px;
}
.modified-date{
	font-size: 12px;
}
.contributor-container .contributor:last-child{
	margin-right:0;	
}
.contributor-container .contributor img{
    width: 100%;
}
.extra_container{
	float: left;
    width: 100%;
    margin-bottom: 20px;
}
.clearFix{
	clear: both;
}
@media (min-width: 1180px) {
	.extra_container{
		width: 550px;
	}
}